@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(snake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#score,
#highscoreBox {
  font-family: "Eater", cursive;
}

#score {
  position: absolute;
  top: 9px;
  left: 100px;
  font-size: 30px;
  font-weight: bold;
}

#highscoreBox {
  position: absolute;
  top: 59px;
  left: 100px;
  font-size: 30px;
  font-weight: bold;
}

#board {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7));
  width: 50rem;
  height: 47.5rem;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.head {
  background-color: #01bd01;
  border: 2px solid black;
  transform: scale(1.02); /*This is optional*/
  border-radius: 9px;
}

.snake {
  background-color: green;
  border: 2px solid black;
  border-radius: 9px;
}

/*Make sure it is apple :)*/
.apple {
  background: linear-gradient(red, purple);
  border: 2px solid black;
  border-radius: 70px 70px 100px 100px;
}

/*Now our game is playable ╰(*°▽°*)╯*/
